.venv/

__pycache__/
*.py[cod]
*.egg-info/
build/
*.spec
frontend/node_modules/
frontend/dist/
single-docker/people/
single-docker/dist/boekh_onedir/
boekh-multiperson/boekhouding/
dkg/
jl/
brk/
gph/
centraleBoekhouding/boekhouding/
secret/
data/
server/workspaces/server.exe
server/client/dist/users.json
server/client/dist/client_config.json
server/workspaces/users.db

