.venv/
data/
secret/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist_bog/
dist_js/
dist_as/
*.spec
frontend/node_modules/
frontend/dist/
single-docker/people/
single-docker/dist/boekh_onedir/
boekhouding/anton_schins
boekhouding/eugen_graas
boekhouding/juleon_schins


